<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StockSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsServlet</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/GoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Goodss</display-name>
    <servlet-name>Goodss</servlet-name>
    <servlet-class>servlet.Goodss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Goodss</servlet-name>
    <url-pattern>/Goodss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDao</display-name>
    <servlet-name>ListDao</servlet-name>
    <servlet-class>dao.ListDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDao</servlet-name>
    <url-pattern>/ListDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListerServlet</display-name>
    <servlet-name>ListerServlet</servlet-name>
    <servlet-class>servlet.ListerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerServlet</servlet-name>
    <url-pattern>/ListerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpListByIdServlet</display-name>
    <servlet-name>UpListByIdServlet</servlet-name>
    <servlet-class>servlet.UpListByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpListByIdServlet</servlet-name>
    <url-pattern>/UpListByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelListByIdServlet</display-name>
    <servlet-name>DelListByIdServlet</servlet-name>
    <servlet-class>servlet.DelListByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelListByIdServlet</servlet-name>
    <url-pattern>/DelListByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearListerServlet</display-name>
    <servlet-name>ClearListerServlet</servlet-name>
    <servlet-class>servlet.ClearListerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearListerServlet</servlet-name>
    <url-pattern>/ClearListerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpOrderServlet</display-name>
    <servlet-name>UpOrderServlet</servlet-name>
    <servlet-class>servlet.UpOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpOrderServlet</servlet-name>
    <url-pattern>/UpOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
</web-app>